### Requirements

In [117]:
import csv
import cv2
import os
import pytesseract
import numpy as np
import pandas as pd
from PIL import Image
import subprocess

In [18]:
sf = 'images/50ed33aa-94b8-4bf4-9d75-19bba8bee21c.jpeg'

### Trying different methods

##### Utility functions

In [23]:
def show_image(img):
    cv2.imwrite('tmp/image.jpeg', img)
    subprocess.run(['xdg-open', 'tmp/image.jpeg'])

##### cv2

In [19]:
# Load image
image = cv2.imread(sf)

# Convert image to grayscale
gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

# Apply thresholding to preprocess the image
thresh = cv2.threshold(gray, 0, 255, cv2.THRESH_BINARY_INV + cv2.THRESH_OTSU)[1]

# Apply dilation to thicken the text
kernel = cv2.getStructuringElement(cv2.MORPH_RECT, (3,3))
dilated = cv2.dilate(thresh, kernel, iterations=1)

# Extract text using pytesseract
text = pytesseract.image_to_string(dilated)

print(text)

Offers For You

liv*

30% off

Recent Transactions

[ei t-10|
19 Jan

Get Simpl Technologies
BB 18Jan

deb te) a VM eg ortega miele)

13 Jan

BigBasket

0)

Www Mazgicpin In
07 Jan

[ei t-10|
© 03 Jan

[ei t-10|
29 Dec

[ei t-10|
29 Dec

Redbus Bangalore
ys BDI To)

[ei ¢-10|
i) 26 Dec

VE



Se ey S 1: Dan

FC Tg
Re

%2090

2 1,469-46
Pe

Ea) Te a
19-60

Eat: Ohad
1162

Sa aA: Saas

+ %6,740-00

ty knee
aa

tA wee
22:56

##### PIL Image

In [20]:
image = Image.open(sf)
text = pytesseract.image_to_string(image)
print(text)

Sony LIV subscription at

30% off

Recent Transactions

Y



Cred

Repayments

oO
ot 5
” 5
3
5
o
QO
>
D>
3
Oo
a
oO
on

18 Jan
Bills and Utilities

Raz*sony Pictures Netwo
13 Jan

Entertainment

BigBasket
07 Jan

Groceries

Www Magicpin In
07 Jan

Other

Cred
03 Jan

Other

Cred
29 Dec

Repayments

Cred
29 Dec

Repayments

Redbus Bangalore
28 Dec

Travel

Cred

26 Dec
Bills and Utilities

View All

ull 74% @)



+ %3,438-00

= 199-00

@ 3%

= 209-50

®@ 4/9

= 1,469-46

®@ 29:59

= 980-00

@ 19-60

=580-82

@ 11°

+ %1,853-00

+ %6,740-00

% 735.00

@ 1470

= 1118-09

®@ 22:56

##### cv2 Preprocessing: contrast, shrpening, noise removal

In [143]:
def preprocess_image(image_path: str) -> np.ndarray:
    # read the image
    img = cv2.imread(image_path)
        
    # apply non-local means denoising
    denoised = cv2.fastNlMeansDenoisingColored(img,None,10,10,7,21)

    # Convert image to grayscale
    gray = cv2.cvtColor(denoised, cv2.COLOR_BGR2GRAY)

    # increase the contrast
    alpha = 1.5  # contrast control (1.0-3.0)
    beta = 0    # brightness control (0-100)
    adjusted = cv2.convertScaleAbs(gray, alpha=alpha, beta=beta)

    # increase the sharpness
    kernel = np.array([[-1,-1,-1], [-1,9,-1], [-1,-1,-1]])
    sharpened = cv2.filter2D(adjusted, -1, kernel)

    return sharpened

In [144]:
# Pass the preprocessed image to pytesseract
text = pytesseract.image_to_string(preprocess_image(sf), lang='eng')

print(text)

Sony LIV subscription at

30% off

Recent Transactions

Cred
a 19 Jan

Repayments

Get Simpl Technologies

18 Jan

Raz*sony Pictures Netwo
13 Jan

Entertainment

°
foo]
2

BigBasket

bp (07 Jan

Www Magicpin In

07 Jan
Cred
a 03 Jan
Cred
29 Dec

C1

Repayments

Cred
29 Dec

Repayments

C1

Redbus Bangalore
\-° 28 Dec
T |



Cred
a 26 Dec

Bills and Utilities

View All

ntl 74% @



+ €3,438 00

= 199-00

= 1,469-46

29 39

= 980-00

19 60

=580-82

11 62

+ %1,853 90

+ 6,740 99

€ 735.00

14,70

= 1118-09

22 36

##### Thresholding and denoise

In [98]:
img = cv2.imread(sf, 0)
filtered = cv2.adaptiveThreshold(img.astype(np.uint8), 255, cv2.ADAPTIVE_THRESH_MEAN_C, cv2.THRESH_BINARY, 41,
                                    3)
kernel = np.ones((1, 1), np.uint8)
opening = cv2.morphologyEx(filtered, cv2.MORPH_OPEN, kernel)
closing = cv2.morphologyEx(opening, cv2.MORPH_CLOSE, kernel)
or_image = cv2.bitwise_or(img, closing)

# Pass the preprocessed image to pytesseract
text = pytesseract.image_to_string(or_image, lang='eng')

print(text)

abe S| eC eer Mt eee Bd



Offers For You

fh

\
\ Sony LIV subscription at



Recent Transactions

Cred

.00
19 Jan + $3,438

Get Simpl Technologies = 199-00
f+) 18 Jan 3.98

Bills and Utilities

Raz*sony Pictures Netwo =20950
13 Jan 419
BigBasket =1,469-%6
bp ) 07 Jan 2939

Groceries

Www Magicpin In = 980-00
07 Jan 19-60
Cred =580°92
(am 035 Jan 1182
Cred 30
a 29 Dec + 21,853:

Repayments

Cred 00
29 Dec + %6,740:

Repayments

al

Redbus Bangalore % 73500
28 Dec 14 70
Cred 1118-09
(am 26 Dec 99.36

Bills and Utilities

View All

##### Recognized Data

In [146]:
img = preprocess_image(sf)
data = pytesseract.image_to_data(img, output_type='data.frame')
data

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,1080,3700,-1,NaN
1,2,1,1,0,0,0,140,382,358,29,-1,NaN
2,3,1,1,1,0,0,140,382,358,29,-1,NaN
3,4,1,1,1,1,0,140,382,358,29,-1,NaN
4,5,1,1,1,1,1,140,384,72,27,94,Sony
...,...,...,...,...,...,...,...,...,...,...,...,...
228,2,1,40,0,0,0,932,3198,65,28,-1,NaN
229,3,1,40,1,0,0,932,3198,65,28,-1,NaN
230,4,1,40,1,1,0,932,3198,65,28,-1,NaN
231,5,1,40,1,1,1,932,3204,32,22,96,22
232,5,1,40,1,1,2,974,3198,23,17,92,36

In [157]:
# Get the bounding boxes from pytesseract
img = preprocess_image(sf)
d = pytesseract.image_to_data(img, output_type=pytesseract.Output.DICT)
n_boxes = len(d['level'])

# Draw the bounding boxes on the image
for i in range(n_boxes):
    if d['text'][i] != '':
        (x, y, w, h) = (d['left'][i], d['top'][i], d['width'][i], d['height'][i])
        cv2.rectangle(img, (x, y), (x + w, y + h), (0, 255, 0), 2)

        # Get the text and draw it above the rectangle
        text = d['text'][i]
        cv2.putText(img, text, (x, y-10), cv2.FONT_HERSHEY_SIMPLEX, 0.5, (0, 0, 255), 2)

        text = str(d['block_num'][i])
        cv2.putText(img, text, (x, y-24), cv2.FONT_HERSHEY_SIMPLEX, 0.5, (0, 0, 255), 2)

show_image(img)

In [147]:
data

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,1080,3700,-1,NaN
1,2,1,1,0,0,0,140,382,358,29,-1,NaN
2,3,1,1,1,0,0,140,382,358,29,-1,NaN
3,4,1,1,1,1,0,140,382,358,29,-1,NaN
4,5,1,1,1,1,1,140,384,72,27,94,Sony
...,...,...,...,...,...,...,...,...,...,...,...,...
228,2,1,40,0,0,0,932,3198,65,28,-1,NaN
229,3,1,40,1,0,0,932,3198,65,28,-1,NaN
230,4,1,40,1,1,0,932,3198,65,28,-1,NaN
231,5,1,40,1,1,1,932,3204,32,22,96,22
232,5,1,40,1,1,2,974,3198,23,17,92,36